.Home {}
body{
<<<<<<< HEAD
    /* background-color: #fcfcfb; */

    background-color: #f8f4e8 !important;

=======
    background-color: #fcfcfb ;
>>>>>>> f8bc284865e6c6a9ce381cac0bb2ab3d1109a60d
    /* height: 5000px; */
    /* background-color: #FAF2E7; */


}
html {
    direction: rtl;
    text-align: right;
}
.leftside {
    
    background-color: #FFFCFC !important;
    border-radius: 8px;
    border-color: #B18B5E;
    border-width: 2px;
  }
  h3{
    color: rgb(150, 49, 49);
  }
  h2{
    color: #543310;
  }
h4{
    font-size: 14px;
    color: gray;
}
.settinglist{
  margin-right: 500px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.follow{
  margin-right: 490px;
  color:#771D1D;

}
/* Home.module.css */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 100%;
}
